body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1389a7; 
    padding: 10px; 
}

.header-content {
    display: flex;
    align-items: center;
}

header img.brasao-img {
    width: 150px;
    height: 150px;
    /* float: left;  */
    max-width: 100px; 
    vertical-align: middle; 
}

section {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.quadro {
    padding: 20px;
    text-align: center;
    background-color: rgb(117, 115, 115);
    margin: 5px; 
    width: calc(30% - 10px); 
}

.menu, .noticias, .destaques, .servicos, #resultados {
    width: calc(30% - 10px); 
    margin: 5px; 
}

.menu.ul.li{
    text-align: justify;
}

.noticias {
    background-color: rgb(117, 115, 115);
    padding: 15px;
    width: calc(30% - 10px); 
}

#resultados, .servicos {
    flex-grow: 1;
    background-color: rgb(117, 115, 115);
    padding: 11px;
    margin: 5px;
}

.servicos {
    background-color: rgb(117, 115, 115);
    padding: 95px;
    width: calc(25% - 20px);
    float: left;
    padding-left: 50px;
}

.destaques {
    background-color: rgb(107, 57, 57);
    padding: 20px;
    width: calc(30% - 10px); 
}

footer {
    background-color: #1389a7;
    color: 1389a7;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}