html {
    font-size: xx-large;
}

h1 {
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.pixel {
    font-size: 45px;
    color: rgba(11, 136, 136, 0.288);
}

.pixel_2 {
    font-size: 50pt;
}

.em {
    font-size: 1em;
}

.em2 {
    font-size: 2em;
}

.rems {
    font-size: 2rem;
}

#fonte {
    font-family: 'Bungee Spice', sans-serif;
}

